<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", test_questions_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_test_question_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Questions</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
					
					<th>
					<%= t("activerecord.attributes.question.quest_text", :default => t("activerecord.labels.quest_text", :default => "Quest_text")) %>
</th>					
          <th></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @questions.each do |question| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= question.id %>
          </td>					
					<td>
						<%= link_to question.quest_text, test_question_path(@test, question) %>
					</td>					
					<td>
                </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", test_question_path(@test, question) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_test_question_path(@test, question) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", test_question_path(@test, question), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
	 <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>