
<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>



<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">

        </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "Тести")  %> Tests</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>

          <th>
            <%= t("activerecord.attributes.test.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>

          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @tests.each do |test| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= test.id %>
            </td>

            <td>
              <%= link_to test.name, coretestid_result_test_path(test) %>
            </td>

            <td>
              <%= test.created_at %>
            </td>
            <td class="last">


                        </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>
